# 改行コードを環境に依存させない
* text=auto

*.cs      text diff=csharp
*.xaml    text
*.csproj  text
*.sln     text
*.md      text
*.ps1     text
*.iss     text

*.png binary
*.ico binary
*.zip binary
*.exe binary
